
.recipieContainer{
  background-color: rgb(255, 255, 255);
  margin: 80px;
  padding: 20px;
  text-align: center;
}
.recipe-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  padding: 16px;
}

.recipe-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s;
}

li{
  list-style-type: none; /* Remove default bullets */
}
.recipe-card:hover {
  transform: scale(1.01);
}

.recipe-card a {
  text-decoration: none;
  color: inherit;
}

.recipe-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.recipe-card h3 {
  font-size: 1.25em;
  margin: 16px;
}

.recipe-card p {
  margin: 0 16px 16px;
  font-size: 1em;
  color: #555;
}


.recipe-card .ingredients-list {
  margin: 16px;
}

.recipe-card .ingredients-list p {
  font-weight: bold;
  margin-bottom: 8px;
}

.recipe-card .ingredients-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.recipe-card .ingredients-list ul li {
  margin-bottom: 4px;
  padding-left: 20px;
  position: relative;
}


.recipe-card .ingredients-list ul {
  list-style-type: none; /* Remove default bullets */
  padding: 0;
  margin: 0;
}
.recipe-card .ingredients-list ul li:before {
  content: ""; /* Remove the bullet */
  position: absolute;
  left: 0;
}
.ingrendient{
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;  margin-bottom: 10px;
  list-style-type: none; /* Remove default bullets */
  margin-right: 8px;
  transition: 0.4s;

}
.ingrendient:hover{
 
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;}